---
import LayoutClient from '../layouts/LayoutClient.astro'
import Header from '../components/Header/header.astro'
import { SignedIn, UserButton, SignedOut } from "@clerk/astro/components";
---

<LayoutClient title=" 🔒 Client">
	<SignedIn>
		<Header />
		<main class="max-w-xl mx-auto py-12">
			<h1 class="text-white text-3xl font-bold"> Tus retos Client</h1>
			<p class="text-white mt-4">Bienvenido a tu área personal. Aquí podrás ver y gestionar tus retos.</p>
		</main>
		<UserButton />
	</SignedIn>
</LayoutClient>
