---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import { SignedOut } from '@clerk/astro/components';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title=" 🔓 Inicio">
	<SignedOut>
		<main >
			<Welcome />
		</main>	
	</SignedOut>
</Layout>

<!-- <Layout title=" 🔓 Inicio">
	<main class="max-w-xl mx-auto py-12">
		<h1> Tus retos personales</h1>
		<p class="text-white text-3xl font-bold">
			En este modo, podrás desafiarte a ti mismo y 
			a otros jugadores. El objetivo es acertar la mayor cantidad de preguntas posible.
		</p>
		<SignedOut>
			<SignInButton class="bg-white text-black px-4 py-2 rounded-md">
				Comenzar
			</SignInButton>
		</SignedOut>
		<SignedIn>
			<UserButton />
		<p>Si ya iniciaste sesion, entra a tu <a href="/dashboard" 
			class="underline text-sky-300">panel de retos</a></p>
		</SignedIn>
	</main>
</Layout> -->
