---
import innoTechLogoWhite from '../../public/img/logo/logo_white.png';
import { SignInButton } from "@clerk/astro/components";
---

<div class="flex flex-col items-center justify-center">
    <img src={innoTechLogoWhite.src} alt="inno tech logo" class="w-80 h-32" />
    <h1 class="text-3xl font-bold pt-8 text-black">Bienvenido a Psicologic Platform</h1>
    <p class="text-lg pt-3 text-black">
        Herramienta disenada para facilitarte a ti el trabajo. 
		<br />
        Puedes usarla para mejorar la salud mental y el bienestar.
        <br />
        <br />
        ¿Listo para comenzar? 
		<br />
        <br />
		<div class="bg-blue-500 w-40 h-10 rounded-md text-center
		justify-center align-middle top-1 text-white text-2xl flex flex-col
		font-san hover:bg-gradient-to-tr from-blue-400 via-blue-500
		to-blue-600">
			<SignInButton mode="modal" />
		</div>
    </p>
</div>
